@import url("https://fonts.googleapis.com/");

:root{
    /* color  */
    --primary: #14a800;
    --primary-dark: #3c8224;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
html,
body{
    font-size: 62.5%; /* 1rem = 10px */
}